.btn--load-more {
  text-transform: uppercase;
  background-color: #eaeaea;
  border-width: 0;

  &:disabled::before {
    visibility: visible;
    transform: scaleX(1);
  }

  &:disabled > span {
    opacity: 0.2;
    color: #000;
  }
}

.load {
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 25px;
  transform-origin: center center;
  transform: translate(0, -50%) rotate(135deg);
  width: 20px;
  height: 20px;
  z-index: 3;
  display: none;

  & hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
  }

  & :first-child {
    background: #19a68c;
    animation-delay: -1.5s;
  }

  & :nth-child(2) {
    background: #f63d3a;
    animation-delay: -1s;
  }

  & :nth-child(3) {
    background: #fda543;
    animation-delay: -0.5s;
  }

  & :last-child {
    background: #193b48;
  }
}

.btn--load-more:disabled .load {
  display: block;
}

@keyframes spin {
  0%,
  100% {
    transform: translateX(200%);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateY(0);
  }
}
